@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* root properties */
:root {
  --primary-color: #e02c6d;
  --primary-text: #3a3a3a;
  --secondary-text: #18191f;
  --tertiary-text: #000000;
  --about-text: #787885;
}

/* Universel styles */
* {
  margin: 0;
  padding: 0;
  font-family: Poppins;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

/* shared styles */
.rating-text-color {
  color: #5e6366;
}

.bold-text {
  font-weight: bolder;
}

.semibold-text {
  font-weight: 600;
}

.primary-text-color {
  color: var(--primary-text);
}

button {
  background: var(--primary-color);
  padding: 0.5rem 1rem;
  border: none;
  color: white;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 700;
}

button img {
  height: 1rem;
}

ul {
  list-style: none;
}

/* header styles */
header {
  padding: 3rem 0;
  width: 80%;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav .logo {
  font-size: 1.2rem;
}

header nav ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

header nav ul li {
  margin-left: 1rem;
  font-size: 0.9rem;
}

header nav ul li img {
  height: 1rem;
}

/* hero section styles */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .hero {
  display: flex;
  align-items: center;
  gap: 5rem;
  width: 80%;
}

main .hero .left h1,
main .hero .left p {
  margin-bottom: 1rem;
}

main .hero .left p {
  font-size: 0.8rem;
}

main .hero .left button {
  border-radius: 4rem;
  padding: 0.5rem 1.5rem;
}

main .hero .right {
  background: url("../Resources/images/Circle\ design.svg") no-repeat;
  background-size: cover;
  background-position: center center;
  height: 30rem;
  width: 30rem;
}

main .hero .right img {
  height: 100%;
}

/* companies section */
main .companie-list {
  margin: 5rem 0;
  padding: 0 4rem;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

main .companie-list ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
}

main .companie-list ul img {
  height: 1.5rem;
}

/* collection section */
main .collection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 65%;
}
main .collection .cards {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

main .collection .cards .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
  padding: 1rem;
  border-radius: 0.5rem;
}

main .collection .cards .card img {
  width: 100%;
}

main .collection .cards .card .product-name {
  font-size: 1.3rem;
  margin: 0.5rem 0;
}

main .collection .cards .card .product-price {
  font-size: 1.1rem;
  margin: 0.2rem 0;
}

main .collection .cards .card .rating {
  margin: 0.2rem 0;
  font-size: 0.8rem;
  color: #5e6366;
  font-weight: 500;
}

main .collection .cards .card .about-product {
  font-size: 0.9rem;
  color: var(--about-text);
  font-weight: 600;
}

/* featured section */
main .featured {
  display: flex;
  align-items: center;
  width: 70%;
  margin: 5rem 0;
  gap: 5rem;
}

main .featured .text h1,
main .featured .text p {
  margin-bottom: 1rem;
}

main .featured .text h1 {
  font-size: 1.5rem;
  font-weight: 800;
}

main .featured .text p {
  font-size: 0.8rem;
  font-weight: 800;
  color: #6c6c6c;
}
