/*Small smartphones [325px -> 576px]*/
@media only screen and (max-width: 576px) {
  header {
    padding: 3rem 0;
  }

  header nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  header nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  header nav ul li {
    margin: 0;
  }

  /* hero section styles */
  main .hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    gap: 5rem;
    padding: 1rem;
  }

  main .hero .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  main .hero .left h1 {
    font-size: 1.5rem;
  }

  main .hero .right {
    height: 20rem;
    width: 20rem;
  }

  /* companies section */
  main .companie-list {
    border: none;
    margin: 1rem 0;
  }

  main .companie-list ul {
    justify-content: center;
  }

  main .companie-list ul img {
    height: 1rem;
  }

  /* collection section */
  main .collection {
    width: 100%;
  }

  main .collection .cards {
    margin: 3rem 1rem;
    grid-template-columns: repeat(1, 1fr);
  }

  /* featured section */
  main .featured {
    flex-direction: column-reverse;
    text-align: center;
  }

  main .featured img {
    width: 90vw;
  }

  main .featured .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  main .featured .text h1 {
    font-size: 1.2rem;
  }

  main .featured .text p {
    font-size: 0.6rem;
  }

  main .featured .text button {
    justify-content: center;
  }

  main .featured .text button img {
    height: 1rem;
    width: 1rem;
  }
}
